services:
  -
    class: Mhujer\PHPStanRules\Rules\ClassUsesConsistenceObjectPrototypeRule
    tags:
      - phpstan.rules.rule

  -
    class: Mhujer\PHPStanRules\Rules\ConstructorIsFirstMethodInClassRule
    tags:
      - phpstan.rules.rule
